@import "tailwindcss";

.custom-shape-divider-top-1740911838 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1740911838 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 245px;
}

.custom-shape-divider-top-1740911838 .shape-fill {
    fill: #07434F;
}